anyio
asgiref
astor
async-generator
attrs
beautifulsoup4
blinker
Brotli
bs4
certifi
cffi
charset-normalizer
click
colorama
configparser
coverage
crayons
cryptography
dlib
face-recognition
face-recognition-models
fastapi
h11
h2
hpack
hyperframe
idna
iniconfig
jedi
kaitaistruct
numpy
opencv-python
outcome
packaging
parso
Pillow
pluggy
py
pyasn1
pycparser
pydantic
pyOpenSSL
pyparsing
PySocks
pytest
pytest-cov
python-dotenv
python-multipart
requests
selenium
selenium-wire
six
sniffio
sortedcontainers
soupsieve
starlette
tomli
trio
trio-websocket
trustme
typing_extensions
undetected-chromedriver
urllib3
uvicorn
webdriver-manager
websockets
wsproto
opencv-python
pytesseract
tqdm
matplotlib
pdf2image
numpy
python-multipart
zstandard