anyio
asgiref
astor
async-generator
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
click
colorama
configparser
coverage
crayons
cryptography
fastapi
h11
idna
iniconfig
jedi
outcome
packaging
parso
pluggy
py
pycparser
pydantic
pyOpenSSL
pyparsing
PySocks
pytest
pytest-cov
python-dotenv
requests
selenium
six
sniffio
sortedcontainers
soupsieve
tomli
trio
trio-websocket
trustme
typing_extensions
urllib3
uvicorn
webdriver-manager
wsproto
opencv-python
pytesseract
tqdm
matplotlib
pdf2image
numpy
python-multipart